<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="../asset/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../asset/css/style.css" />
    <link rel="stylesheet" href="../asset/font-awesome/css/font-awesome.css" />
    <link rel="stylesheet" href="../asset/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../asset/font-awesome/css/font-awesome.css.map" />
    <link href="../asset/css/simple-sidebar.css" rel="stylesheet" />
    <!-- Bootstrap Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script type="text/javascript" src="../asset/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../asset/js/bootstrap.min.js"></script>
    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
    <!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
    <title>Jhingephul</title>
</head>

<body>
    <div class="d-flex" id="wrapper">
        <!-- Sidebar -->
        <div class="bg-dark border-right text-white-50" id="sidebar-wrapper">
            <div class="sidebar-heading">Menu</div>
            <div class="list-group list-group-flush text-white-50">
                <a href="dashboard.html" class="list-group-item list-group-item-action bg-dark text-white-50"><i class="fa fa-columns"></i> Dashboard</a>
                <a href="stock.html" class="list-group-item list-group-item-action bg-dark text-white-50"><i class="fa fa-database"></i> Stock</a>
                <a href="add_book.html" class="list-group-item list-group-item-action bg-dark text-white-50"><i class="fa fa-plus-square"></i> Add New Book</a>
                <a href="sell_book.html" class="list-group-item list-group-item-action bg-dark text-white-50"><i class="fa fa-shopping-bag"></i> Sell Book</a>
            </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper" class="bg-light">
            <nav class="navbar navbar-expand-lg navbar-light bg-white shadow-bottom ">
                <a class="clickable" id="menu-toggle"><i class="fa fa-bars"></i></a>


                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
						<span class="navbar-toggler-icon"></span>
					</button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user-circle"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right text-secondary" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="#"><i class="fa fa-address-card"></i> Profile</a>
                                <a class="dropdown-item" href="../index.html"><i class="fa fa-power-off"></i> Log out</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="container">
                <div class="text-center my-4">
                    <p class="title-section">Stock</p>
                </div>
                <div class="row card m-5 py-4">
                    <div class="col-md-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading ">

                                <br>
                                <div class="pull-right">
                                    <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
												<i class="glyphicon glyphicon-filter"></i>
											</span>
                                </div>
                            </div>
                            <div class="panel-body">
                                <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Search filter" />
                            </div>
                            <br>
                            <table class="table" id="dev-table">
                                <thead class="thead-dark">
                                    <tr>
                                        <th>Book ID</th>
                                        <th>Book Name</th>
                                        <th>Book Author</th>
                                        <th>Book Price</th>
                                        <th>Book Stock</th>
                                    </tr>
                                </thead>
                                <tbody id="table_bodyy">

                                </tbody>
                            </table>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>


    <!-- All of the Node.js APIs are available in this renderer process.
    We are using Node.js <script>document.write(process.versions.node)</script>,
    Chromium <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>. -->
    <script src="../asset/js/jquery.min.js"></script>
    <script src="../asset/js/bootstrap.bundle.min.js"></script>

    <!-- Menu Toggle Script -->
    <script>
        var $ = require('jQuery');
        $('#menu-toggle').click(function(e) {
            e.preventDefault();
            $('#wrapper').toggleClass('toggled');
        });
        require('../renderer.js');
        /*
Please consider that the JS part isn't production ready at all, I just code it to show the concept of merging filters and titles together !
*/
        var mysql = require('mysql');
        var con = mysql.createConnection({
            host: "localhost",
            user: "root",
            password: "",
            database: "app"
        });
        con.connect(function(err) {
            if (err) throw err;
            console.log("Connected!");
            //Make SQL statement:
            var sql = "SELECT * FROM add_book";
            //Make an array of values:

            //Execute the SQL statement, with the value array:
            con.query(sql, function(err, rows, fields) {
                if (err) throw err;
                var table = '';
                for (var i in rows) {
                    table += '<tr>';
                    table += '<td>' + rows[i].book_id + '</td>';
                    table += '<td>' + rows[i].book_name_english + '</td>';
                    table += '<td>' + rows[i].author_name_english + '</td>';
                    table += '<td>' + rows[i].price_english + '</td>';
                    table += '<td>' + rows[i].storage + '</td>';
                    table += '</tr>';
                }
                // document.write('');
                document.getElementById("table_bodyy").innerHTML = '' + table + '';
            });
        });


        (function() {
            'use strict';

            $.fn.extend({
                filterTable: function() {
                    return this.each(function() {
                        $(this).on('keyup', function(e) {
                            $('.filterTable_no_results').remove();
                            var $this = $(this),
                                search = $this.val().toLowerCase(),
                                target = $this.attr('data-filters'),
                                $target = $(target),
                                $rows = $target.find('tbody tr');

                            if (search == '') {
                                $rows.show();
                            } else {
                                $rows.each(function() {
                                    var $this = $(this);
                                    $this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
                                })
                                if ($target.find('tbody tr:visible').size() === 0) {
                                    var col_count = $target.find('tr').first().find('td').size();
                                    var no_results = $('<tr class="filterTable_no_results"><td colspan="' + col_count + '">No results found</td></tr>')
                                    $target.find('tbody').append(no_results);
                                }
                            }
                        });
                    });
                }
            });
            $('[data-action="filter"]').filterTable();
        })(jQuery);

        $(function() {
            // attach table filter plugin to inputs
            $('[data-action="filter"]').filterTable();

            $('.container').on('click', '.panel-heading span.filter', function(e) {
                var $this = $(this),
                    $panel = $this.parents('.panel');

                $panel.find('.panel-body').slideToggle();
                if ($this.css('display') != 'none') {
                    $panel.find('.panel-body input').focus();
                }
            });

        })
    </script>
</body>

</html>