<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"> -->

		<link rel="stylesheet" href="../asset/css/bootstrap.min.css" />
		<link rel="stylesheet" href="../asset/css/style.css" />
		<link href="../asset/css/simple-sidebar.css" rel="stylesheet" />
		<!-- Bootstrap Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script type="text/javascript" src="../asset/js/jquery-3.3.1.min.js"></script>
		<script type="text/javascript" src="../asset/js/bootstrap.min.js"></script>
		<!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script> -->
		<!-- <script src="//code.jquery.com/jquery-1.11.1.min.js"></script> -->
		<title>Jhingephul</title>
	</head>
	<body>
		<div class="d-flex" id="wrapper">
			<!-- Sidebar -->
			<div class="bg-light border-right" id="sidebar-wrapper">
				<div class="sidebar-heading">Menu</div>
				<div class="list-group list-group-flush">
					<a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>
					<a href="stock.html" class="list-group-item list-group-item-action bg-light">Stock</a>
					<a href="add_book.html" class="list-group-item list-group-item-action bg-light">Add New Book</a>
					<a href="sell_book.html" class="list-group-item list-group-item-action bg-light">Sell Book</a>
					<a href="#" class="list-group-item list-group-item-action bg-light">Log Out</a>
				</div>
			</div>
			<!-- /#sidebar-wrapper -->

			<!-- Page Content -->
			<div id="page-content-wrapper">
				<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
					<button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

					<button
						class="navbar-toggler"
						type="button"
						data-toggle="collapse"
						data-target="#navbarSupportedContent"
						aria-controls="navbarSupportedContent"
						aria-expanded="false"
						aria-label="Toggle navigation"
					>
						<span class="navbar-toggler-icon"></span>
					</button>

					<div class="collapse navbar-collapse" id="navbarSupportedContent">
						<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
							<li class="nav-item active">
								<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#">Link</a>
							</li>
							<li class="nav-item dropdown">
								<a
									class="nav-link dropdown-toggle"
									href="#"
									id="navbarDropdown"
									role="button"
									data-toggle="dropdown"
									aria-haspopup="true"
									aria-expanded="false"
								>
									Dropdown
								</a>
								<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="#">Action</a>
									<a class="dropdown-item" href="#">Another action</a>
									<div class="dropdown-divider"></div>
									<a class="dropdown-item" href="#">Something else here</a>
								</div>
							</li>
						</ul>
					</div>
				</nav>

				<div class="container-fluid">
					<div class="container text-left">
						<br /><br /><br /><br />
						<form>
							<div class="section-box">
								<h3 class="section_title text-center"> <u>Customer Information</u> </h3><br><br>
								<div class="form-row">
									<div class="form-group col-md-6">
										<label for="inputEmail4">Customer Name</label>
										<input
											type="text"
											class="input_bottom form-control"
											id="inputEmail4"
											placeholder="Name"
										/>
									</div>
									<div class="form-group col-md-6">
										<label for="inputPassword4">Email Adress</label>
										<input
											type="email"
											class="input_bottom form-control"
											id="inputPassword4"
											placeholder="example@gmail.com"
										/>
									</div>
								</div>
								<div class="form-group">
									<label for="inputAddress">Phone Number</label>
									<input
										type="text"
										class="input_bottom form-control"
										id="inputAddress"
										placeholder="01700000000"
									/>
								</div>
								<div class="form-group">
									<label for="inputAddress2">Address </label>
									<input
										type="text"
										class="input_bottom form-control"
										id="inputAddress2"
										placeholder="Apartment, studio, or floor"
									/>
								</div>
							</div>
							<br /><br />
							<div class="section-box">
								<h3 class="section_title text-center"> <u>Book Information</u> </h3><br><br>
								<table id="myTable" class=" table order-list">
									<thead>
										<tr>
											<td>Book Id</td>
											<td>Book Name</td>
											<td>Price</td>
											<td>Amount</td>
										</tr>
									</thead>
									<tbody>
										
									</tbody>
									<tfoot>
										<tr>
											<td colspan="5" style="text-align: left;">
												<input
													type="button"
													class="btn btn-lg btn-block "
													id="addrow"
													value="Add Book"
												/>
											</td>
										</tr>
										
									</tfoot>
								</table>
							</div>
              <br><br>
							<input type="button" class="btn btn-primary text-center" onclick="CountRows()" value = "Check in"/><br><br><br><br>
						</form>
					</div>
				</div>
			</div>
			<!-- /#page-content-wrapper -->
		</div>
    
		<!-- All of the Node.js APIs are available in this renderer process.
    We are using Node.js <script>document.write(process.versions.node)</script>,
    Chromium <script>document.write(process.versions.chrome)</script>,
    and Electron <script>document.write(process.versions.electron)</script>. -->
		<script src="../asset/js/jquery.min.js"></script>
		<script src="../asset/js/bootstrap.bundle.min.js"></script>

		<!-- Menu Toggle Script -->
		<script>
			var $ = require('jQuery');
			$('#menu-toggle').click(function(e) {
				e.preventDefault();
				$('#wrapper').toggleClass('toggled');
			});
			// You can also require other files to run in this process
			require('../renderer.js');
			$(document).ready(function() {
				var counter = 0;

				$('#addrow').on('click', function() {
					var newRow = $('<tr>');
					var cols = '';

					cols += '<td><input type="text" class="form-control" name="name' + counter + '"/></td>';
					cols += '<td><input type="text" class="form-control" name="mail' + counter + '"/></td>';
					cols += '<td><input type="text" class="form-control" name="phone' + counter + '"/></td>';
					cols += '<td><input type="text" class="form-control" name="phone' + counter + '"/></td>';
					cols += '<td><input type="button" class="ibtnDel btn btn-md btn-danger "  value="Delete"></td>';
					newRow.append(cols);
					$('table.order-list').append(newRow);
					counter++;
				});

				$('table.order-list').on('click', '.ibtnDel', function(event) {
					$(this)
						.closest('tr')
						.remove();
					counter -= 1;
				});
			});

			function calculateRow(row) {
				var price = +row.find('input[name^="price"]').val();
			}

			function calculateGrandTotal() {
				var grandTotal = 0;
				$('table.order-list')
					.find('input[name^="price"]')
					.each(function() {
						grandTotal += +$(this).val();
					});
				$('#grandtotal').text(grandTotal.toFixed(2));
			}


			function CountRows() {
				var totalRowCount = 0;
				var rowCount = 0;
				var table = document.getElementById("myTable");
				var rows = table.getElementsByTagName("tr");
				console.log ("total " +rows.length);
				console.log ("total " +rows.length);
				console.log ("total " +rows.length);
				console.log ("total " +rows.length);
				console.log ("total " +rows.length);
				console.log ("total " +rows.length);

				for (var i = 0; i < rows.length; i++) {
					totalRowCount++;
					if (rows[i].getElementsByTagName("td").length > 0) {
						rowCount++;
					}
				}
				var message = "Total Row Count: " + totalRowCount;
				message += "\nRow Count: " + rowCount;
				alert(message);
				
			}
		</script>
	</body>
</html>
